body{
    animation:FadeIn 4s 1;
    color:beige;
    
}
@keyframes FadeIn {
    from{
        opacity: 0;
    } to {
        opacity: 1;
        color:beige;
    }
}

#greeting{
    margin-top: 5%;
    font-size:3vw;
}