@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

@font-face {
    font-family: 'digital clock';
    src: url("../font/SFDigitalReadout-Light.ttf");
}

#clock {
    margin-top:0; margin-bottom:0;
    margin-right: 10px;
    font-family: sans-serif;
    color:beige;
}

#heading{
    color:beige;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size:1vw;
}
#heading h2{
    margin-top:3px;
    font-family: 'Nanum Gothic', 'Arial Narrow', Arial, sans-serif;
}