input{
    color:beige;
    font-family: sans-serif;
    background-color: transparent;
    border-style: solid;
    border-top:0; border-right:0;
    border-left-color: transparent;
    border-bottom-width: 2px;
    border-bottom-color: transparent;
    transition: border-bottom-color 1s ease-out;
    width:30vw;
}


input:hover[type="time"],
input:hover[type="text"]{
    border-bottom-color:beige;
}

input::placeholder{
    color:beige;
    vertical-align: text-bottom;
}


#like_button {
    background-color: transparent;
    color:beige;
    font-family: sans-serif;
    border:0;
}

